@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --header-height: 4rem;
  --font-noto: "Noto Sans KR";
  --font-noto-kr: "Noto Sans KR", sans-serif;
  --font-do: "Do Hyeon", sans-serif;
  --font-nanum: "Nanum Gothic", serif;
  --side-padding: 24rem;
  --side-padding-double: 48rem;
}
body {
  font-family: var(--font-nanum);
}

::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: #8ec5ff;
  border-radius: 12px 12px 12px 12px;
}
